.header {
    min-height: 44px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 18px;
    background: #fff;
}

.header-bar {
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px 0;
}

.header-back {
    position: absolute;
    width: 40px;
    height: 44px;
    background-position: -20px 0;
}

.header-back span {
    width: 25px;
    height: 22px;
    display: block;
    background: url("../image/sr.png") no-repeat;
    background-size: 24px 23px;
    margin: 12px 0 0 10px;
}

.header-title {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    margin: 0 50px;
}